<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2526.1362" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.2526.1362" targetFramework="net452" />
  <package id="CefSharp.Common" version="47.0.4" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="47.0.4" targetFramework="net452" />
  <package id="Grasshopper" version="0.9.76" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
  <package id="RhinoCommon" version="5.12.50810.13095" targetFramework="net452" />
  <package id="Speckle.RhinoConverter" version="0.0.1-rc2" targetFramework="net452" />
  <package id="Speckle.SpeckleCommon" version="0.0.1-rc6" targetFramework="net452" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net452" />
</packages>